
@{
    ViewData["Title"] = "Create";
}<div class="modal" id="addSpotModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="name" class="col-form-label">Nazwa</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label">Opis</label>
                    <textarea class="form-control" id="description"></textarea>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Wybierz zdjecie</label>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="test" type="button" onclick="addPoint()" class="btn btn-success" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h1> <i class="fas fa-plus"></i> @ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
               Aby dodać spot kliknj w opdoiwednie miejsce na mpie
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="map"></div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

  

        var spotCoords;
      

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 52.1607742, lng: 22.2290208 },
                zoom: 8

            });

            google.maps.event.addListener(map, 'click', function (event) {

                $("#addSpotModal").modal();
                spotCoords = event.latLng;
                new google.maps.Marker({ position: event.latLng, map: map })
            });


    }

        function addPoint(){
            const name = document.getElementById('name').value;
            const description = document.getElementById('description').value;
            const file = document.getElementById('customFile');


            const x = new FormData();
            x.append('Name', name);
            x.append('Description', description);
            x.append('SpotImage', file.files[0]);
            x.append('Coords', spotCoords);

            console.log(x);
            fetch('Create', {
                method: "POST", 
                mode: "cors", 
                cache: "no-cache", 
                credentials: "same-origin", 
                headers: {
                    'Accept': 'application/json'

                }, body: x

        });


        }

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

}