@model Spot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card shadow" style="width: 100%;">
        <div class="card-header">
            <h1>
                <i class="fas fa-info-circle"></i> @ViewData["Title"]
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col">
                    <h5>
                        <b><i class="fas fa-map-marker-alt"></i> Punkty</b>
                        <a class="float-right" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseQRCode" aria-expanded="false">
                            Pokaż / Ukryj
                            <i class="fas fa-chevron-circle-down expand_caret"></i>
                        </a>
                    </h5>
                    <div class="collapse" id="collapseQRCode">
                        <img  class="img-fluid" src="@ViewBag.QRCodeImage" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>

