@model PromotionEventsApp.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container ">
    <a class="btn btn-outline-primary" asp-action="Index" ><<i class="fas fa-arrow-left"></i> Cofnij</a>
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6 text-center border border-primary">
            <p></p>
            <h3>Logowanie</h3>

            <hr/>
            <form asp-action="ChangePassword" method="post">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3 text-left">
                            <strong> <label asp-for="OldPassword">Obecne hasło</label> </strong>
                        </div>
                        <div class="col-9">
                            <input asp-for="OldPassword" type="password" class="form-control" placeholder="np. jankowalski@gmail.com">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-3 text-left">
                            <strong> <label asp-for="Password">Nowe hasło</label></strong>
                        </div>
                        <div class="col-9">
                            <input asp-for="Password" type="password" class="form-control" placeholder="np. Moje_Hasło123">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3 text-left">
                            <strong> <label asp-for="PasswordConfirm">Powtórz nowe hasło</label></strong>
                        </div>
                        <div class="col-9">
                            <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="np. Moje_Hasło123">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-outline-success">Zmień hasło</button>

                    </div>
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
            </form>

        </div>
    </div>
</div>


