@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <a asp-controller="UserPanel" asp-action="ChangePersonalData"  class="btn btn-block btn-outline-primary">Zmień swoje dane</a>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a asp-controller="UserPanel" asp-action="ChangePassword"  class="btn btn-block btn-outline-primary">Zmień swoje hasło</a>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a asp-controller="UserPanel" asp-action="ChangeEmail"  class="btn btn-block btn-outline-primary">Zmień swoj email</a>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a asp-controller="UserPanel" asp-action="UserEvents" class="btn btn-block btn-outline-primary">Moje wydarzenia</a>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a asp-controller="UserPanel" asp-action="UserRank"  class="btn btn-block btn-outline-primary">Moje wydarzenia</a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h3><strong>Moje konto:</strong></h3>
            <div class="row">
                <div class="col-3">
                    <strong>Imię</strong>
                </div>
                <div class="col-9">
                    @Model.FirstName
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <strong>Nazwisko</strong>
                </div>
                <div class="col-9">
                    @Model.LastName
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <strong>Adres E-mail</strong>
                </div>
                <div class="col-9">
                    @Model.Email
                </div>
            </div>

        </div>
    </div>
</div>
